@{
    ViewBag.Title = "Contact";
}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h2 class="card-title">Contact Us</h2>
                    <p class="card-text">We'd love to hear from you. Feel free to get in touch with us using the contact information below:</p>
                </div>
            </div>
            <div class="card mt-4 border-primary shadow">
                <div class="card-body">
                    <address>
                        <strong>Address:</strong><br>
                        One Microsoft Way<br>
                        Redmond, WA 98052-6399
                    </address>

                    <address>
                        <strong>Phone:</strong><br>
                        <abbr title="Phone">P:</abbr> 425.555.0100
                    </address>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h3 class="card-title">Reach out to our teams:</h3>
                </div>
            </div>
            <div class="card mt-4 border-primary shadow">
                <div class="card-body">
                    <address>
                        <strong>Support:</strong><br>
                        <a href="mailto:support@example.com">support@example.com</a>
                    </address>

                    <address>
                        <strong>Marketing:</strong><br>
                        <a href="mailto:marketing@example.com">marketing@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</main>
