@{
    ViewBag.Title = "Home Page";
}

<main class="container mt-5">
    <section class="row">
        <div class="col-md-6">
            <div class="card bg-primary text-white shadow-lg">
                <div class="card-body">
                    <h1 class="card-title" id="aspnetTitle">ASP.NET</h1>
                    <p class="lead">ASP.NET is a powerful and free web framework for building outstanding websites and web applications using HTML, CSS, and JavaScript.</p>
                    <a href="https://asp.net" class="btn btn-light btn-md">Learn more &raquo;</a>
                </div>
            </div>
        </div>
    </section>

    <section class="row mt-4">
        <div class="col-md-4">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h2 class="card-title" id="gettingStartedTitle">Getting Started</h2>
                    <p class="card-text">
                        ASP.NET MVC provides a powerful, pattern-based approach to create dynamic websites with clean separation of concerns, offering full control over markup.
                    </p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-outline-dark">Learn more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h2 class="card-title" id="librariesTitle">Get More Libraries</h2>
                    <p class="card-text">
                        NuGet, a free Visual Studio extension, simplifies library and tool management in your Visual Studio projects.
                    </p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301866" class="btn btn-outline-dark">Learn more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h2 class="card-title" id="hostingTitle">Web Hosting</h2>
                    <p class="card-text">
                        Find the perfect web hosting company that suits your application's needs with the right features and pricing.
                    </p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301867" class="btn btn-outline-dark">Learn more &raquo;</a>
                </div>
            </div>
        </div>
    </section>
</main>
